
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@400;500&family=Roboto+Condensed:wght@300;400&display=swap');
:root {
  --color-primary: #2555fe;
  --color-secondary: #ff3400;
  --color-headings: #1E276D;
  --color-body: #000000;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Quicksand', sans-serif;
  color: #324e63;
  background-color: #E7EBF7;  
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
 font-family: 'Quicksand', sans-serif;
 color: (var(--color-headings))  
}
h1 {
  font-size: 3rem;
  color:var(--color-headings);
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

/*This is the hero paragraph*/
p {
  margin-bottom: 0.9rem;
  color: #8688a2;
}

/* section */
 .section {
  width: 100vw;
  height: 80vh;
  margin: 0 auto;
  max-width: var(--max-width);
}  
@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
} 
/*
=============== 
Styles
===============
*/
/*This is the Navigation bar*/
.nav {
  height: 4.5rem;
  margin: 0 auto;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E7EBF7;
  position: relative;
  z-index: 1;
}

/*This is what centers the navigation items*/
.nav-center {
  width: 90vw;
}

/*Navigation header*/
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*This is the login/Sign up button color*/
.login-btn {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
  font-weight: 900;
  width: 100px;
  height: 40px;
  padding: 0.25rem 0.75rem;
  color:#ffff;
  background: var(--color-primary);
  border: 1.7px solid var(--color-primary);
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s; 
}

.login-btn:hover{
  transition: all 0.3s;
}


.nav-links {
  display: none;
}
/*Hero background Image*/
.hero::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/*This is the height of the hero viewport*/
.hero {
  position: relative;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

/*We are centering the hero with a width of 90vw*/
.hero-center {
  width: 90vw;
  display: grid;
  align-items: center;
}

.hero-info h1 {
  font-size: 5rem;
  text-transform: none;
  margin-top: 10rem;
  max-width: 400px;
}
.hero-info p {
  max-width: 35em;
  line-height: 1.8;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  } 
}
@media only screen and (min-width: 1024px) {
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  .card {
    height: 100%;
  }
}
/* nav media query */
@media only screen and (min-width: 768px) {
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  .toggle-btn {
    display: none;
  }
   .signin-btn {
    display: inline-block;
  } 

  .Daniel-img {
    width: 6rem;
    border-radius: 18px;
 
  }
  .hero-info h1 {
    font-size: 1rem;
    margin-top: 40px;
  }
  .hero-info p {
    font-size: 0.8rem;
  
  }
  .nav-links {
    display: block;
    color: rgb(14, 13, 13);
   font-family: 'Quicksand', sans-serif;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
  }
  .nav-links li {
    height: 100%;
    
  }
  .link-btn {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    background: transparent;
    border-color: transparent;
    font-weight: bold;
    font-size: 1rem;
    color: var(--color-headings);
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
  }

}
@media only screen and (min-width: 600px) {
  .hero::before {
    background-size: contain;
    height: 10%;
  }
  .profile-card__img {
    z-index: -1;
  }
  .hero-info h1 {
    font-size: 2rem;
    margin-top: 40px;
  }
  .hero-info p {
    font-size: 1rem;
  
  }
   .send-message{
    max-width: 400px;
  }
  .Daniel-img {
  width: 60%;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }
  .card {
   height: 100%;
 }
 .footer {
  position: absolute;
 }

.login-btn {
    display: none;
} 
.grid--1{
        grid-template-columns: 1fr ;
    }
.vl {
  display: hidden;
}

}

@media only screen and (min-width: 400px) {
  .hero::before {
    background-size: contain;
    height: 10%;
  }
  
.vl {
  display: hidden;
}
  .hero-info h1 {
    font-size: 2rem;
    margin-top: 40px;

  }
  .hero-info p {
    font-size: 1rem;
  
  }

   .send-message{
    max-width: 400px;
  }

  .Daniel-img {
  width: 60%;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 
  }

.card {
   height: 100%;
 }

.login-btn {
    display: none;
  } 

.header-btn {
  margin-top: -33px;
  margin-left: 10px;
}


.grid--1{
        grid-template-columns: 1fr ;
    }

}

/* hero media query */
@media screen and (min-width: 768px) {
  .hero::before {
    background-size: contain;
    height: 100%;
  }
  .hero-center {
    grid-template-columns: 2fr 2fr;
  }

  .hero-info h1 {
    font-size: 3rem;
    margin-top: 80px;
  }
  .hero-info p {
    font-size: 1.25rem;
  }

  .vl {
 color: #000;
}

.Daniel-img {
    width: 26rem;
    border-radius: 18px;
}
.login-btn {
    display: inline-block;
} 

  .card {
   height: 100%;
 }

 .grid--1{
        grid-template-columns: 1fr ;
    }

}

@media screen and (min-width: 1200px) {
  .hero-center {
    grid-template-columns: 2fr 1fr;
    align-items: end;
  }
  .hero-info h1 {
    max-width: 100%;
    font-size: 5rem;
   
  }
  .footer {
   position: fixed;
 }

.Daniel-img {
  width: 26rem;
  border-radius: 18px
  
  }
}
@media screen and (min-width: 1400px) {
  .hero-center {
    padding-bottom: 20vh;
}
  .Daniel-img {
  width: 26rem;
  border-radius: 18px;

}
  .footer {
   position: absolute;
   bottom: 0;
}
   .hero-info p {
    font-size: 1.5rem;
    margin-top: 10px;
    
}
 .hero-info h1 {
    font-size: 6rem;
    margin-top: 10px;
    font-weight: bold;
    
  }
   .login-btn {
    display: inline-block;
  } 
}

/* sidebar */
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  font-size: 0.8rem;
  transition: 0.3s;
  transform: scale(0);
  background: white;
  color:var(--color-headings);
  
}
.sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}
.sidebar {
  width: 90vw;
  height: 95vh;
  position: relative;
  padding: 4rem 2rem;
}
/*Sidebar close menu button of shape x*/
.close-btn {
  font-size: 1rem;
  background: transparent;
  border-color: transparent;
  color: rgb(141, 139, 139);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.sidebar article {
  margin-bottom: 2rem;
}
.sidebar-sublinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.25rem;

}
.sidebar-sublinks a {
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  
}
.sidebar-sublinks svg {
  color: var(--clr-grey-5);
  margin-right: 1rem;
  
}

@media only screen and (max-width: 600px) {
   .hero::before {
    background-size: contain;
    height: 10%;
    
  }

   .profile-card__img {
    z-index: -1;
  }
  
.footer {
   position: fixed;
 }
.card {
   height: 100%;
 }

.my_cardInfo p {
 font-size: 0.9rem;
}
.hero-info h1 {
    font-size: 1.5rem;
    margin-top: 20px;

}
.hero-info p {
 font-size: 1.25rem;
  
}
.Daniel-img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.nav {
  width: 100vw;
}

.login-btn {
  display: none;
}

}
@media screen and (min-width: 992px) {
  .sidebar-wrapper {
    display: none;
}
.card {
   height: 100%;
 }
}
/* This is the submenu background */
.submenu {
  background: rgb(250, 250, 250);
  box-shadow: var(--dark-shadow);
  position: absolute;
  color: var(--color-headings);
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 4rem 2rem;
  border-radius: 10px;
  transition: var(--transition);
}
.submenu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid rgb(255, 255, 255);
  border-right: 5px solid rgb(245, 237, 237);
  border-bottom: 5px solid var(--clr-white);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.submenu.show {
  display: block;
}

.submenu-center {
  display: grid;
  gap: 0.25rem 2rem;
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.submenu h4 {
  margin-bottom: 1.5rem;
}
.submenu-center a {
  width: 10rem;
  font-size: 0.9em;
  display: block;
  color:  var(--color-headings);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  margin-right: 10px;  
}

/*Hamburger icon button styling*/ 
.toggle-btn {
 font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  width: 160px;
  margin-right: -2.9rem;
  margin-top: 10px;
  color: #245BE6;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
/* navigation logo*/
.navigation-logo {
  width: 70px;
  cursor: pointer; 
}
/*This is the footer background, height and text align*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: #fbfcfc;
  text-align: center;
}
.footer p {
    text-align: center;
    padding: 28px;
    font-size: 0.9rem;
    color: rgb(154, 154, 154);
  }

.container {
  margin: 0 auto;
  width: 100%;
  padding: 60px;
  height: 100%; 
}
.myimg {
  border-radius: 5px ;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-color:rgba(255, 251, 251, 0.1)
}

.my_name {
    text-align: center;
    margin: 0 auto;
  }

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: 1fr 1fr;
    }
    
    .card {
      height: 100%;
    }  
}
.card-image{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 270px;
    align-items: center;
}
.card-image:hover{
   box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);

}
.card-paragraph {
  padding: 2rem;
  margin-right: 10px;
  margin-bottom: 10px; 
}
.paragraph {
   max-height:100%;
    max-width:100%;
    display:block;
    margin: auto 10;
    font-size: 1.5rem;
    height: 100%;
    color: var(--color-body)
    
}
.card {
  background-color: #fff;
  width: 20%;
  height: 100%;
  border-radius: 18px;
  margin:  auto;
  margin-top: 50px;
  object-fit: cover;
  font-weight: 400;
  box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);
}
/*Read more*/
.container{
  position: absolute;
  top: 10%;
  left: 23%;
  width: 50%;
} 
.text{
  display: inline;
  width: 100%;
}
  
.read-or-hide{
  color: rgb(192,192,192);
  cursor: pointer;
}


.para {
  font-size: 1rem;
  margin-top: 10px;
}

.para.p1{
  font-size: 1rem;
  margin-top: -30px;
}

.vl {
  border-left: 2px solid rgb(247, 247, 247);
  height: 64.4%;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 0;
  object-fit: cover;
}


a.social {
  margin: 0 1rem;
 
  display: inline-block;
}

a.LinkedIn {
  font-size: 1.5rem;
  color: black;
}

a.Github {
  font-size: 1.5rem;
  color: black;
}

.social-media {
  margin-top: 10px;
  align-self: center;
}

.socialMedia {
  margin-top: 20px;
  

}


.Button {
  color: black;
}


.Button:disabled {
  color: white;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

}
/*Card Styles*/

a, a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper {
  width: 100%;
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  padding-top: 100px;
  display: flex;
  background-image: #ecf0fc;
  display: flex;
  background-image: #ecf0fc;
}
@media screen and (max-width: 768px) {
  .wrapper {
    height: auto;
    min-height: 80vh;
    padding-top: 100px;
  }
}

.profile-card {
  width: 100%;
  min-height: 460px;
  margin: auto;
    box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);

  background: #fff;
  border-radius: 12px;
  max-width: 700px;
  position: relative;
}
.profile-card.active .profile-card__cnt {
  filter: blur(6px);
}
.profile-card.active .profile-card-message,
.profile-card.active .profile-card__overlay {
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0.1s;
}
.profile-card.active .profile-card-form {
  transform: none;
  transition-delay: 0.1s;
}
.profile-card__img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-shadow: 0px 5px 50px 0px #ffffff, 0px 0px 0px 7px rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 576px) {
  .profile-card__img {
    width: 120px;
    height: 120px;
  }
}
.profile-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-card__cnt {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  transition: all 0.3s;
}
.profile-card__name {
  font-weight: 900;
  font-size: 24px;
  color: var(--color-primary);
  margin-bottom: 15px;
}

 .send-message{
    max-width: 400px;
  }
.profile-card__txt {
  font-size: 18px;
  font-weight: 500;
  color: #324e63;
  margin-bottom: 15px;
}
.profile-card__txt strong {
  font-weight: 700;
}
.profile-card-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
.profile-card-loc__icon {
  display: inline-flex;
  font-size: 27px;
  margin-right: 10px;
}
.profile-card-inf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 35px;
}
.profile-card-inf__item {
  padding: 10px 35px;
  min-width: 150px;
}
@media screen and (max-width: 768px) {
  .profile-card-inf__item {
    padding: 10px 20px;
    min-width: 120px;
  }
}
.profile-card-inf__title {
  font-weight: 700;
  font-size: 27px;
  color: #324e63;
}
.profile-card-inf__txt {
  font-weight: 500;
  margin-top: 7px;
}
.profile-card-social {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.profile-card-social__item {
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #405de6;
  box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);
  position: relative;
  font-size: 21px;
  flex-shrink: 0;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .profile-card-social__item {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .profile-card-social__item:hover {
    transform: scale(1.2);
  }
}

.profile-card-social__item.github {
  background: linear-gradient(45deg, #000000, #000000);
}

.profile-card-social__item.linkedin {
  background: #2366c2;
}
.profile-card-social .icon-font {
  display: inline-flex;
}
.profile-card-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media screen and (max-width: 576px) {
  .profile-card-ctr {
    flex-wrap: wrap;
  }
}
.profile-card__button {
  background: none;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 15px 35px;
  padding: 15px 40px;
  min-width: 150px;
  border-radius: 10px;
  min-height: 50px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .profile-card__button {
    min-width: 170px;
    margin: 15px 25px;
  }
}
@media screen and (max-width: 576px) {
  .profile-card__button {
    min-width: inherit;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px;
  }
  .profile-card__button:last-child {
    margin-bottom: 0;
  }
}
.profile-card__button:focus {
  outline: none !important;
}
@media screen and (min-width: 768px) {
  .profile-card__button:hover {
    transform: translateY(-5px);
  }
}
.profile-card__button:first-child {
  margin-left: 0;
}
.profile-card__button:last-child {
  margin-right: 0;
}
.profile-card__button.button--blue {
  background: var(--color-primary);
    box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);

}
.profile-card__button.button--blue:hover {
    box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);

}
.profile-card-message {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 130px;
  padding-bottom: 100px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.profile-card-form {
  box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 35px;
  transform: scale(0.8);
  position: relative;
  z-index: 3;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .profile-card-form {
    max-width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .profile-card-form {
    padding: 20px;
  }
}
.profile-card-form__bottom {
  justify-content: space-between;
  display: flex;
}
@media screen and (max-width: 576px) {
  .profile-card-form__bottom {
    flex-wrap: wrap;
  }
}
.profile-card textarea {
  width: 100%;
  resize: none;
  height: 210px;
  margin-bottom: 20px;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  padding: 15px 20px;
  color: #324e63;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  outline: none;
  transition: all 0.3s;
}
.profile-card textarea:focus {
  outline: none;
  border-color: #8a979e;
}
.profile-card__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(22, 33, 72, 0.35);
  border-radius: 12px;
  transition: all 0.3s;
}

/*Send message*/
.send-message {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}

.send-message label {
  text-align: left;
  display: block;
}

.send-message h2 {
  font-size: 20px;
  color: #c73460;
  margin-bottom: 30px;
}

.send-message input, .send-message textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 0.5px solid #ddd;
  box-sizing: border-box;
  display: block;
  position: relative;
  border-radius: 3px;

}


.card-wrapper {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}


.send-message textarea {
  height: 160px;
  resize: none;

}
.send-message button {
  background-color: var(--color-primary);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*Thank you style*/
.wrapper-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapper-2 {
  padding: 30px;
  text-align: center;
}
.wrapper-2 p {
  margin: 0;
  font-size: 1.3em;
  color: #aaa;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 1px;
}
.go-home {
  color: #fff;
  background: #5892ff;
  border: none;
  padding: 10px 50px;
  margin: 30px 0;
  border-radius: 30px;
  text-transform: capitalize;
  box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);
  cursor: pointer;
}
.li {
  list-style-type: none;
}
.footer-like {
  margin-top: auto;
  background: #d7e6fe;
  padding: 6px;
  text-align: center;
}
.footer-like p {
  margin: 0;
  padding: 4px;
  color: #5892ff;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 1px;
}
.footer-like p a {
  text-decoration: none;
  color: #5892ff;
  font-weight: 600;
}

@media (min-width: 360px) {
  h1 {
    font-size: 4.5em;
  }
  .go-home {
    margin-bottom: 20px;
  }
}

@media (min-width: 600px) {
  .content {
    max-width: 1000px;
    margin: 0 auto;
  }
  .wrapper-1 {
    height: initial;
    max-width: 620px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
  }
}

/*Contact me form*/
.section-form {
  width: 80%;
  margin: 3em auto;
  background-color: #ffff;
  padding: 2em;
  border-radius: 10px;
}
.section-form .intro {
  margin-bottom: 2em;
}
.section-form h1 {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 0.6em;
}
.section-form h2 {
  text-align: center;
  font-size: 1.23077em;
}
input[type="text"],
textarea {
  width: 100%;
  margin-bottom: 1em;
  font-size: 0.9em;
  font-weight: 300;
  padding: 0.5em 1em;
  color: #555555;
  font-weight: 300;
  border-radius: 3px;
}

.send-message input, .send-message textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 0.5px solid #ddd;
  box-sizing: border-box;
  display: block;
  position: relative;
  border-radius: 3px;

}

